<ion-header>

    <ion-navbar color="extra">
        <ion-title>detailservice</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-item style="align-content: center">
        <ion-avatar item-start>
            <img src="../assets/imgs/icons8-near-me-96.png">
        </ion-avatar>
        <h2>Near You</h2>

    </ion-item>
    <ion-card *ngFor="let item of arr">
        <ion-item>
            <div class="item row">
                <span align="left" class="col col-30" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{item.retailer_name}} <br>{{item.retailer_email}}</span>
                <span align="right" class="col col-50" style="font-family: Georgia, 'Times New Roman', Times, serif"><img src="../assets/imgs/download.png" style="height:40px;width:40px;float:right;margin-top:4px;"  (click)="onServiceBook(item.retailer_id)"></span>
            </div>


        </ion-item>
    </ion-card>


    <ion-item>
        <ion-avatar item-start>
            <img src="../assets/imgs/hand.png">
        </ion-avatar>
        <h2>In Your City</h2>
    </ion-item>
    <ion-card *ngFor="let item of arr1">

        <ion-item>

            <div class="item row">
                <span align="left" class="col col-30" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{item.retailer_name}} <br>{{item.retailer_email}}</span>
                <span align="right" class="col col-50" style="font-family: Georgia, 'Times New Roman', Times, serif"><img src="../assets/imgs/download.png" style="height:40px;width:40px;float:right;margin-top:4px;" (click)="onServiceBook(item.retailer_id)"></span>
            </div>


        </ion-item>
    </ion-card>

</ion-content>